<template>
<v-col cols='12' align='start'>

  <v-card v-if='locale == "fr_FR"' class='mx-auto' outlined>
    <v-list-item five-line>
      <v-list-item-content>
        <v-list-item-title class='headline mb-1'>
          <span class='primary--text'>404</span> Page non trouvée 🙀
        </v-list-item-title>
        <v-list-item-subtitle>
          Vous êtes peut-être ici car :
          <ul>
            <li>Cette page que vous pensiez exister ... n'existe pas</li>
            <li>Cette page existe, mais une mauvaise adresse a été entrée</li>
            <li>Vous cherchiez votre chaton mais vous vous êtes perdus</li>
            <li>Vous adorez les pages 404</li>
          </ul>
        </v-list-item-subtitle>
      </v-list-item-content>
      <!--v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar-->
    </v-list-item>
    <v-card-actions>
      <v-btn outlined color='primary'>Retourner à l'accueil</v-btn>
    </v-card-actions>
  </v-card>

  <v-card v-else class='mx-auto' outlined>
    <v-list-item five-line>
      <v-list-item-content>
        <v-list-item-title class='headline mb-1'>
          <span class='primary--text'>404</span> Page not found 🙀
        </v-list-item-title>
        <v-list-item-subtitle>
          Perhaps you are here because:
          <ul>
            <li>The page you thought exists ... doesn't</li>
            <li>The page exists but someone typed the wrong URL</li>
            <li>You were looking for your kitty and got lost</li>
            <li>You love 404 pages</li>
          </ul>
        </v-list-item-subtitle>
      </v-list-item-content>
      <!--v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar-->
    </v-list-item>
    <v-card-actions>
      <v-btn outlined color='primary'>Return to homepage</v-btn>
    </v-card-actions>
  </v-card>

</v-col>
</template>

<script>
import i18n from '@/plugins/vue-i18n'

export default {
  props: {
    code: Number,
  },
  computed: {
    locale() { return i18n.locale; },
  },
};
</script>
