<template>
<v-container fluid class='fill-height'>
  <v-row align='center' justify='center'>
    <Users />
  </v-row>
</v-container>
</template>

<script>
import Users from '@/components/users.vue'

export default {
  components: {
    Users,
  },
};
</script>
