<template>
<div class='settings'>

<v-card>
  <v-list-item>
    <v-list-item-avatar size=80>
      <img :src='profile.avatar' :alt='profile.name' />
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title class="headline mb-1">{{ profile.name }}</v-list-item-title>
      <v-simple-table>
        <tbody>
          <tr v-if='profile.email'><td>Email</td><td>{{ profile.email }}</td></tr>
          <tr v-if='profile.phone'><td>Phone</td><td>{{ profile.phone }}</td></tr>
        </tbody>
      </v-simple-table>
    </v-list-item-content>
  </v-list-item>
</v-card>

<section>
<h2>Mes sets</h2>
<v-btn color='primary' dark fab :to="{ name: 'set.create' }">
  <v-icon>mdi-plus</v-icon>
</v-btn>
</section>

</div>
</template>

<script>
export default {
  name: 'Settings',
  computed: {
    profile() {
      return this.$store.getters['user/info'];
    },
  },
  methods: {
    onSignedIn(token, user) {
      const info = {
        token: token,
        uid: user.uid,
        name: user.displayName,
        email: user.email,
        phone: user.phoneNumber,
        avatar: user.photoURL,
      };
      this.$store.dispatch('user/update', info)
        .then(() => {
          this.$log.debug('user connected:', this.$store.getters['user/info']);
          this.$router.push({ name: this.$route.query.redirect});
        })
        .catch(() => { this.$log.error('User info update error.');});
    },
  },
}
</script>
