<template>
  <div class='settings'>
    <h1>This is the signin page</h1>
  </div>
</template>

<script>
export default {
  mounted() {
    if (!this.$store.getters['app/authInProgress']) {
      this.$store.dispatch('app/showAuthDialog', true);
    }
  },
};
</script>
