<template>
<v-container fluid class='fill-height'>
  <v-row align='center' justify='center'>
    <v-progress-circular v-if='!done' indeterminate color='primary' />
    <NotFound v-else-if='!set' />
    <p v-else>TODO: Show Set "{{id}}"</p>
  </v-row>
</v-container>
</template>

<script>
import NotFound from '@/views/404.vue'

export default {
  components: { NotFound, },
  props: {
    id: String,
  },
  data: () => ({
    done: false,
    set: null,
  }),
  created() {
    this.done = false;
    this.$store.dispatch('sets/get', this.id)
        .then((set) => { this.set = set;})
        .catch(() => { this.$log.error(`Set "${this.id}" not found.`);})
        .finally(() => { this.done = true;});
  },
  methods: {
    onSetGot(set) {
      this.set = set;
      this.done = true;
    },
  },
};
</script>
