<template>
<v-container fluid class='fill-height'>
  <v-row align='center' justify='center'>

    <v-form ref='form' v-model='valid' lazy-validation>

      <h2 class='title'>{{ $t('set.title') }}</h2>
      <v-text-field outlined v-model='title'  :rules='titleRules' :counter='10' required></v-text-field>

      <h2 class='title'>{{ $t('set.description') }}</h2>
      <RichTextArea v-model='description' />

      <h2 class='title'>{{ $t('set.template') }}</h2>
      <v-select outlined v-model='template' :items='templates' :rules='[v => !!v || "Item is required"]' required></v-select>

      <h2 class='title'>{{ $t('set.visibility') }}</h2>
      <v-radio-group v-model='isPublic' :mandatory='true'>
        <v-radio value='true'>
          <template v-slot:label>
            <v-icon>mdi-earth</v-icon>
            {{ $t('public') }}
          </template>
        </v-radio>
        <v-radio value='false'>
          <template v-slot:label>
            <v-icon>mdi-lock</v-icon>
            {{ $t('private') }}
          </template>
        </v-radio>
      </v-radio-group>

      <v-btn :disabled='!valid' color='success' class='mr-4' @click='validate'>Validate</v-btn>
      <v-btn color='warning' class='mr-4' @click='reset'>Reset Form</v-btn>
    </v-form>

  </v-row>
</v-container>
</template>

<script>
import RichTextArea from '@/components/text.vue'

export default {
  components: { RichTextArea, },
  data: () => ({
    valid: true,
    title: '',
    titleRules: [
      v => !!v || 'Title is required',
      v => (v && v.length <= 10) || 'Title must be less than 10 characters',
    ],
    template: null,
    templates: [],

    description: '',
    isPublic: true,
  }),
  created() {
    this.$store.dispatch('sets/templates')
          .then((templates) => templates.forEach(t => this.templates.push(t)));
  },
  methods: {
    validate () {
      const valid = this.$refs.form.validate()
      if (valid) {
        let set = {
          metadata: {
            title: this.title,
            description: this.description,
          },
          settings: {
            template: this.template,
            public: (this.isPublic === 'true'),
          },
          items: [],
        };
        this.$store.dispatch('sets/create', set)
              .then((id) => this.onSetCreated(id));
        this.$log.warn('TODO: maybe disable submit button');
      }
    },
    reset () {
      this.$refs.form.reset()
      // note: to reset only validation, call:
      //this.$refs.form.resetValidation()
    },
    onSetCreated(id) {
      this.$router.replace({
          name: 'set',
          params: { id: id },
        });
    },
  },
}
</script>
