<template>
  <tiptap-vuetify
      v-model='text'
      :extensions='extensions'
      :toolbar-attributes='toolbar'
      :card-props='card'
      />
</template>

<script>
import {
    TiptapVuetify,
    History,
    Heading,
    Bold, Italic, Strike, Underline,
    BulletList, OrderedList, ListItem,
    Link,
} from 'tiptap-vuetify'

export default {
  components: { TiptapVuetify, },
  inject: ['theme'],
  props: {
    value: String,
  },
  computed: {
    text: {
      get () { return this.value; },
      set (value) { this.$emit('input', value); }
    },
    card: function() {
      return { outlined: true };
    },
    toolbar: function() {
      let color = '#F0F0F0';
      if (this.theme.isDark) color = '#252525';
      return { color: color };
    },
  },
  data: () => ({
    extensions: [
      History,
      [ Heading, { options: { levels: [1, 2, 3], } } ],
      Bold,
      Underline,
      Italic,
      Strike,
      Link,
      ListItem,
      BulletList,
      OrderedList,
    ],
  }),
}
</script>
