<template>
<v-data-table
  :headers='headers'
  :items='items'
  :items-per-page='5'
  ></v-data-table>
</template>

<script>
export default {
  data: () => ({
    headers: [
      { text: 'Character', value: 'name', align: 'start', sortable: false },
      { text: 'Mail', value: 'email' },
    ],
    items: [],
  }),
  created() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      let items = this.items;
      const promise = this.$store.dispatch('users/get', 1);
      promise.then(function(data) {
        data.results.forEach(e => {
          items.push({ name: e.name, email: e.gender });
        });
      });
    },
  },
};
</script>
