<template>
<v-app id='app'>

<v-navigation-drawer app v-model='drawer'>

  <v-list dense>
  <template v-for='item in items'>

    <v-list-group v-if='item.children'
        :key='item.text' v-model='item.model'
        :prepend-icon='item.model ? item.icon : item["icon-alt"]' append-icon=''
    >
      <template v-slot:activator>
        <v-list-item-content><v-list-item-title>{{ gettext(item.text) }}</v-list-item-title></v-list-item-content>
      </template>
      <v-list-item v-for='(child, i) in item.children'
          :key='i' link
          @click='onClick(child)'
      >
        <v-list-item-action v-if='child.icon'><v-icon>{{ child.icon }}</v-icon></v-list-item-action>
        <v-list-item-content><v-list-item-title>{{ gettext(child.text) }}</v-list-item-title></v-list-item-content>
      </v-list-item>
    </v-list-group>

    <v-list-item v-else :key='item.text' link :to='item.to'>
      <v-list-item-action><v-icon>{{ item.icon }}</v-icon></v-list-item-action>
      <v-list-item-content><v-list-item-title>{{ gettext(item.text) }}</v-list-item-title></v-list-item-content>
      <v-list-item-action v-if='item.switch'><v-switch primary v-model='isDark' /></v-list-item-action>
    </v-list-item>

    </template>

  </v-list>

</v-navigation-drawer>

<v-app-bar app>
  <v-app-bar-nav-icon @click.stop='drawer = !drawer' />

  <v-img :src='logo' class='mx-2' max-height='48' max-width='48' contain/>
  <v-toolbar-title id='appname'>{{ appname }}</v-toolbar-title>
  <v-spacer></v-spacer>
  <ProfileButton />
</v-app-bar>

<v-content>
  <router-view/>
</v-content>

<v-footer app>
  <span class='white--text'>Environment: "{{ environment }}"</span>
</v-footer>

</v-app>
</template>

<script>
import { config } from './plugins/vuetify'
import i18n from '@/plugins/vue-i18n'
import ProfileButton from '@/components/auth/SignInButton'

export default {
  name: 'App',
  components: { ProfileButton, },
  computed: {
    dark() { return this.isDark ? "on" : "off"; },
    locale() { return i18n.locale; },
    locales() {
      const locales = [];
      Object.keys(i18n.messages).forEach(locale => {
        const payload = { text: `language.${locale}`, locale, };
        this.setLocaleIcon(payload);
        locales.push(payload);
      });
      return locales;
    },
    languagesMenu() { return this.items.find(i => i.text === 'menu.language'); }
  },
  created() {
    this.languagesMenu.children = this.locales;
    this.isDark = this.$store.getters['settings/dark'] === 'true';
  },
  methods: {
    gettext: function(key) {
      let params = {};
      if (key === 'menu.dark') params['mode'] = this.$t(this.dark);
      if (key === 'menu.language') params['current'] = this.$t(`language.${i18n.locale}`);
      return this.$t(key, params);
    },
    onClick(item) {
      if (item.locale) {
        const payload = { key: 'locale', value: item.locale};
        this.$store.dispatch('settings/update', payload);
      }
    },
    setLocaleIcon(item) {
      item.icon = 'mdi-nope';  // non-existent icon to have white space
      if (item.locale === i18n.locale) item.icon = 'mdi-check';
    },
  },
  data: () => ({
    isDark: config.theme.dark,
    drawer: null,
    items: [
      { icon: 'mdi-home', text: 'menu.home', to: { name: 'home' } },
      { icon: 'mdi-information', text: 'menu.about', to: { name: 'about' } },
      { icon: 'mdi-theme-light-dark', text: 'menu.dark', switch: true },
      {
        icon: 'mdi-chevron-up',
        'icon-alt': 'mdi-chevron-down',
        text: 'menu.language',
        model: true,
        children: [],
      },
      { icon: 'mdi-settings', text: 'menu.settings', to: { name: 'settings' } },
      { icon: 'mdi-message', text: 'menu.feedback' },
      { icon: 'mdi-help-circle', text: 'menu.help' },
    ],
    environment: process.env.NODE_ENV,
    appname: process.env.VUE_APP_NAME,
    logo: process.env.VUE_APP_LOGO,
  }),
  watch: {
    isDark: function(now, old) { // eslint-disable-line no-unused-vars
      const payload = { key: 'dark', value: now, vuetify: this.$vuetify };
      this.$store.dispatch('settings/update', payload);
    },
    locale: function(now, old) {
      const get = function(children, x) {
        const got = children.filter(child => child.locale === x);
        if (got.length == 1) return got[0];
        this.$log('Error in local list: "${x}" --> ${got}');
        return null;
      };
      const ogot = get(this.languagesMenu.children, old);
      if (ogot) this.setLocaleIcon(ogot);
      else this.$log('Error in local list: "${old}" --> ${ogot}');
      const ngot = get(this.languagesMenu.children, now);
      if (ngot) this.setLocaleIcon(ngot);
      else this.$log('Error in local list: "${now}" --> ${ngot}');
    },
  },
};
</script>

<style>
#appname { text-transform: capitalize; }
</style>
