<template>
<div class='text-center'>
  <v-menu>
    <template v-slot:activator='{ on: menu, attrs }'>
      <v-avatar v-bind='attrs' v-on='{ ...menu }'>
        <img :src='profile.avatar' :alt='profile.name' />
      </v-avatar>
    </template>
    <v-list>
      <v-list-item v-for='item in items' :key='item.key' @click='item.chosen()'>
        <v-list-item-title>
          <v-icon>{{ item.icon}}</v-icon>
          {{ $t(item.key)}}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</div>
</template>


<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  computed: {
    profile() { return this.$store.getters['user/info']; },
  },
  data: function () {
    return {
      items: [
        { key: 'menu.user.profile', icon: 'mdi-account', chosen: this.onProfile,  },
        { key: 'menu.user.auth.logout', icon: 'mdi-logout', chosen: this.onSignOut, },
      ],
    };
  },
  methods: {
    onProfile() {
      this.$router.push({ name: 'settings', });
    },
    onSignOut() {
      let store = this.$store;
      let logger = this.$log;
      let router = this.$router;
      let route = this.$route;
      firebase.auth().signOut().then(function() {
        store.dispatch('user/signOut')
          .then(() => {
            logger.debug('user disconnected');
            if (route.meta.requiresAuthentication) {
              // don't stay on a authenticated user only page
              router.push({ name: 'home' });
            }
          })
          .catch((error) => { logger.error('store.signOut action error:', error); })
      }).catch(function(error) {
        logger.error('SignOut error:', error);
      });
    },
  },
};
</script>

