<template>

<ProfileMenu v-if='isUserSignedIn' />

<v-progress-circular v-else-if='!isAuthDone'
  indeterminate
  color='primary'
  />

<div v-else>
<v-dialog v-model='dialog' width='500'>
  <template v-slot:activator='{ on, attrs }'>
    <v-btn outlined color='primary' v-bind='attrs' v-on='on'>
      <v-icon left>mdi-account</v-icon>{{ $t('menu.user.auth.login') }}
    </v-btn>
  </template>

  <v-card>
    <v-card-title class='headline' primary-title>{{ $t('menu.user.auth.login') }}</v-card-title>
    <v-card-text>
        {{ $t('menu.user.auth.description') }}<br/>
        {{ $t('menu.user.auth.creation') }}
    </v-card-text>
    <v-card-text>
        <router-link to='#'>{{ $t('menu.user.auth.more') }}</router-link>
    </v-card-text>
    <v-divider></v-divider>
    <v-col align='center' justify='center'>
      <v-btn key='shibboleth' disabled
          color='#ff410b' class='white--text auth-button' width='75%'
          @click='onChoose("shibboleth")'
          >
        <v-icon left>mdi-school</v-icon>{{ getButtonLabel('shibboleth') }}
      </v-btn>
    </v-col>
    <v-divider></v-divider>
    <v-col align='center' justify='center'>

      <v-btn v-for='item in options' :key='item.name'
          :color='item.color' class='white--text auth-button' width='75%'
          @click='onChoose(item.name)'
          >
        <v-icon left>{{ item.icon }}</v-icon>{{ getButtonLabel(item.name) }}
      </v-btn>

    </v-col>
    <v-card-text>{{ $t('menu.user.auth.cookies') }}</v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer />
      <router-link to='#'><v-btn color='primary' text>{{ $t('menu.user.auth.more') }}</v-btn></router-link>
      <v-btn color='secondary' text @click='onChoose("cancel")'>{{ $t('cancel') }}</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
</div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'
import ProfileMenu from './ProfileMenu'

export default {
  components: { ProfileMenu, },
  data: () => ({
    options: [
      {
        name: 'google',
        color: '#dd453a',
        icon: 'mdi-google',
        provider: new firebase.auth.GoogleAuthProvider(),
      },
      {
        name: 'github',
        color: '#000000',
        icon: 'mdi-github',
        provider: new firebase.auth.GithubAuthProvider(),
      },
/*
      {
        name: 'twitter',
        color: '#00b6f0',
        icon: 'mdi-twitter',
        provider: new firebase.auth.TwitterAuthProvider(),
      },
      {
        name: 'facebook',
        color: '#2b569b',
        icon: 'mdi-facebook',
        provider: new firebase.auth.FacebookAuthProvider(),
      },
*/
    ],
  }),
  computed: {
    isUserSignedIn() { return this.$store.getters['user/isSignedIn']; },
    isAuthDone() { return !this.$store.getters['app/authInProgress']; },
    dialog: {
      set(visible) {
        this.$store.dispatch('app/showAuthDialog', visible);
      },
      get() {
        return this.$store.getters['app/showAuthDialog'];
      },
    },
    inProgress: {
      set(value) {
        this.$store.dispatch('app/authInProgress', value);
      },
      get() {
        return this.$store.getters['app/authInProgress'];
      },
    },
  },
  methods: {
    getButtonLabel(method) {
      return this.$t(`menu.user.auth.method.${method}`);
    },
    onChoose(method) {
      this.dialog = false;
      this.$log.debug('onChoose("',method,'")');
      const item = this.options.find(m => { return m.name == method });
      if (item === undefined) return;  // cancel
      this.inProgress = true;
      firebase.auth().signInWithRedirect(item.provider);
    },
    onSignedIn(token, user) {
      const info = {
        token: token,
        uid: user.uid,
        name: user.displayName,
        email: user.email,
        phone: user.phoneNumber,
        avatar: user.photoURL,
      };
      this.$store.dispatch('user/update', info)
        .then(() => {
          this.inProgress = false;
          this.$log.debug('user connected:', this.$store.getters['user/info']);
          this.$router.push({ name: this.$route.query.redirect});
        })
        .catch(() => { this.$log.error('User info update error.');});
    },
    onSignInError(error) {
      this.$log.error('SignIn error code:', error);
    },
  },
  created() {
      let onSignedIn = this.onSignedIn;
      let onSignInError = this.onSignInError;
      firebase.auth().getRedirectResult().then((result) => {
        // if there wasn't any sign in attempt yet, abort (ie. first page load)
        if (!result.user) return;
        // retrieve/refresh Pount firebase app id token & sign in Pount with it
        result.user.getIdToken().then((token) => {
          onSignedIn(token, result.user);
        });
      }).catch(function(error) {
        onSignInError(error);
      });
  },
};
</script>

<style scoped>
.auth-button:not(:first-of-type) {
  margin-top: 12px;
}
</style>
